<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <style>
    body {
      font-family: Inter, Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
    }

    .article-list {
      list-style: none;
      padding: 0;
      padding-top: 44px;
      max-width: 800px;
      margin: 20px auto;
    }

    .article-item {
      background: #fff;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      transition: box-shadow 0.3s ease;
    }

    .article-item:hover {
      border-color: #aaa;
    }

    .article-title {
      margin: 0 0 10px;
      font-size: 1.5em;
    }

    .article-info {
      display: flex;
      gap: 4px;
      font-size: 0.9em;
      color: #666;
      margin: 0 0 10px;
    }

    .view-details-button {
      padding: 4px 8px;
      border: none;
      border-radius: 4px;
      text-decoration: underline;
      color: #007bff;
      font-size: 14px;
      margin-right: 10px;
    }

    .view-details-button:hover {}

    .authentic-button {
      margin-top: 12px;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      background-color: #f6465d;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    .authentic-button.false {
      background-color: #0ecb81;
    }

    .authentic-button.false:hover {
      background-color: #11b073;
    }

    .authentic-button.true:hover {
      background-color: #c82333;
    }

    .load-more-button {
      display: flex;
      border-radius: 4px;
      padding: 4px 8px;
      margin: 20px auto;
      color: #212121;
      font-size: 16px;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s;
    }

    .load-more-button:hover {
      border-color: #aaa;
    }

    .error-message {
      color: #f6465d;
      text-align: center;
      margin-top: 20px;
    }

    #no-more-articles {
      text-align: center;
      margin: 20px auto;
      color: #666;
    }

    .right-0 {
      color: #fff;
      float: right;
      border: 0px solid #007bff;
      background-color: #f6465d;
    }

    .right-0:hover {
      float: right;
      background-color: #d44053;
    }

    .flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .text-center {

      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Welcome to the Admin Page</h1>
  <a href="/admin/reqarticle" class="view-details-button text-center">Go to Request Page</a>
  <a href="/admin/logout" class="view-details-button right-0">Logout</a>
  <ul class="article-list">
    <% if (articles.length> 0) { %>
      <% articles.forEach(article=> { %>
        <li class="article-item">
          <!-- <img src="<%= article.imageUrl %>" alt="Article Image" class="article-image"> -->
          <h2 class="article-title">
            <%= article.title %>
          </h2>
          <p class="article-info">Created At: <%= new Date(article.createdAt).toLocaleDateString() %>
          </p>
          <p class="article-info">Author: <%= article.author.name %>
          </p>
          <p class="article-info">Gmail: <%= article.author.contact %>
          </p>
          <div class="flex-row">
            <a href="/admin/view-article/<%= article._id %>" class="view-details-button">View Details →</a>
            <form action="/admin/update-authentic/<%= article._id %>" method="post">
              <button type="submit" class="authentic-button <%= article.isAuthentic ? 'true' : 'false' %>">
                <%= article.isAuthentic ? 'Mark as Not Authentic' : 'Mark as Authentic' %>
              </button>
            </form>
          </div>
        </li>
        <% }) %>
          <% } else { %>
            <p>No articles available.</p>
            <% } %>
  </ul>

  <button id="load-more" class="load-more-button">Load More ↓</button>


  <% if (typeof error !=='undefined' ) { %>
    <p class="error-message">
      <%= error %>
    </p>
    <% } %>

      <p id="no-more-articles" style="display: none;">No more articles to load.</p>

      <script>
        let currentPage = 1;
        const limit = 5;

        document.getElementById('load-more').addEventListener('click', () => {
          currentPage += 1;
          console.log('Current Page:', currentPage);
          fetch(`/api/anubhav/articles?page=${currentPage}`)
            .then(response => {
              if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
              }
              console.log('Response:', response);
              return response.json();
            })
            .then(data => {
              const { articles, hasMore } = data;
              console.log("data", data);
              if (articles.length > 0) {
                const articleList = document.querySelector('.article-list');
                articles.forEach(article => {
                  const articleItem = document.createElement('li');
                  articleItem.className = 'article-item';
                  articleItem.innerHTML = `
                <!-- <img src="${article.imageUrl}" alt="Article Image" class="article-image"> -->
                <h2 class="article-title">${article.title}</h2>
                <p class="article-info">Created At: ${new Date(article.createdAt).toLocaleDateString()}</p>
                <a href="/admin/view-article/${article._id}" class="view-details-button">View Details</a>
                <form action="/admin/update-authentic/${article._id}" method="post">
                  <button type="submit" class="authentic-button ${article.isAuthentic ? 'true' : 'false'}">
                    ${article.isAuthentic ? 'Mark as Not Authentic' : 'Mark as Authentic'}
                  </button>
                </form>
              `;
                  articleList.appendChild(articleItem);
                });

                if (!hasMore) {
                  const loadMoreButton = document.getElementById('load-more');
                  const noMoreArticles = document.getElementById('no-more-articles');
                  if (loadMoreButton) loadMoreButton.style.display = 'none';
                  if (noMoreArticles) noMoreArticles.style.display = 'block';
                }
              } else {
                const loadMoreButton = document.getElementById('load-more');
                const noMoreArticles = document.getElementById('no-more-articles');
                if (loadMoreButton) loadMoreButton.style.display = 'none';
                if (noMoreArticles) noMoreArticles.style.display = 'block';
              }
            })
            .catch(error => {
              console.error('Error fetching articles:', error);
              const loadMoreButton = document.getElementById('load-more');
              const noMoreArticles = document.getElementById('no-more-articles');
              if (loadMoreButton) loadMoreButton.style.display = 'none';
              if (noMoreArticles) noMoreArticles.style.display = 'block';
            });
        });
      </script>
</body>

</html>