<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requested Articles</title>
  <style>
    body {
      font-family: Inter, Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
    }

    .req-article-list {
      list-style: none;
      padding: 0;
      padding-top: 44px;
      max-width: 800px;
      margin: 20px auto;
    }

    .req-article-item {
      background: #fff;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      transition: box-shadow 0.3s ease;
    }

    .req-article-item:hover {
      border-color: #aaa;
    }

    .req-article-info {
      display: flex;
      gap: 4px;
      font-size: 0.9em;
      color: #666;
      margin: 0 0 10px;
    }

    .view-details-button {
      padding: 4px 8px;
      border: none;
      border-radius: 4px;
      text-decoration: underline;
      color: #007bff;
      font-size: 14px;
      margin-right: 10px;
    }

    .view-details-button:hover {}

    .error-message {
      color: #f6465d;
      text-align: center;
      margin-top: 20px;
    }

    #no-more-articles {
      text-align: center;
      margin: 20px auto;
      color: #666;
    }

    .flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #load-more {
      text-align: center;
      margin: 20px auto;
      cursor: pointer;
      color: #007bff;
    }
  </style>
</head>

<body>
  <h1>Requested Articles</h1>
  <a href="/admin/home" class="view-details-button text-center">Go to Home</a>
  <ul class="req-article-list">
    <% if (reqarticle.length > 0) { %>
      <% reqarticle.forEach(article => { %>
        <li class="req-article-item">
          <p class="req-article-info">Requester: <%= article.requesterName %></p>
          <p class="req-article-info">Requester EmailID: <%= article.requesterEmailId %></p>
          <p class="req-article-info">Requestee: <%= article.requesteeName %></p>
          <p class="req-article-info">Contact: <%= article.requesteeContact %></p>
          <p class="req-article-info">Company: <%= article.company %></p>
          <p class="req-article-info">Note: <%= article.note %></p>
        </li>
      <% }) %>
    <% } else { %>
      <p>No requested articles available.</p>
    <% } %>
  </ul>

  <% if (typeof error !== 'undefined') { %>
    <p class="error-message"><%= error %></p>
  <% } %>

  <p id="no-more-articles" style="display: none;">No more articles to load.</p>
  <div id="load-more">Load more articles</div>

  <script>
    let currentPage = 1;
    const limit = 5;

    document.getElementById('load-more').addEventListener('click', () => {
      currentPage += 1;
      fetch(`/reqArticle?page=${currentPage}`)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
        })
        .then(data => {
          const { reqarticle, hasMore } = data;
          if (reqarticle.length > 0) {
            const reqArticleList = document.querySelector('.req-article-list');
            reqarticle.forEach(article => {
              const reqArticleItem = document.createElement('li');
              reqArticleItem.className = 'req-article-item';
              reqArticleItem.innerHTML = `
                <p class="req-article-info">Requester: ${article.requesterName}</p>
                <p class="req-article-info">Requestee: ${article.requesteeName}</p>
                <p class="req-article-info">Contact: ${article.requesteeContact}</p>
                <p class="req-article-info">Company: ${article.company}</p>
                <p class="req-article-info">Note: ${article.note}</p>
                <a href="/admin/view-req-article/${article._id}" class="view-details-button">View Details</a>
              `;
              reqArticleList.appendChild(reqArticleItem);
            });

            if (!hasMore) {
              document.getElementById('load-more').style.display = 'none';
              document.getElementById('no-more-articles').style.display = 'block';
            }
          } else {
            document.getElementById('load-more').style.display = 'none';
            document.getElementById('no-more-articles').style.display = 'block';
          }
        })
        .catch(error => {
          console.error('Error fetching requested articles:', error);
          document.getElementById('load-more').style.display = 'none';
          document.getElementById('no-more-articles').style.display = 'block';
        });
    });
  </script>
</body>

</html>