<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    .article-container {
      display: flex;
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }

    .article-image {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .article-title {
      font-size: 24px;
      margin: 10px 0;
    }

    .article-info {
      font-size: 14px;
      color: #666;
      margin-bottom: 15px;
    }

    .article-description {
      font-size: 16px;
      line-height: 1.6;
    }

    .flex {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .back-link {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: underline;
      color: #007bff;
      padding: 4px 8px;
      border-radius: 5px;
    }

    .authentic-button {
      margin-top: 20px;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border: 0px solid #007bff;
      padding: 10px 15px;
      border-radius: 5px;
    }

    .authentic-button.true {
      background-color: #f6465d;
      color: #fff;
    }

    .authentic-button.false {
      background-color: #0ecb81;
      color: #fff;
    }

    .authentic-button.false:hover {
      background-color: #11b073;
      color: #fff;
    }

    .authentic-button.true:hover {
      background-color: #c82333;
    }
  </style>
</head>

<body>
  <div class="article-container">
    <div class="flex">

      <a href="/admin/home" class="back-link">← Back to Admin Page</a>
      <form action="/admin/update-authentic/<%= article._id %>" method="post">
        <button type="submit" class="authentic-button <%= article.isAuthentic ? 'true' : 'false' %>">
          <%= article.isAuthentic ? 'Mark as Not Authentic' : 'Mark as Authentic' %>
        </button>
      </form>
    </div>
    <img src="<%= article.imageUrl %>" alt="Article Image" class="article-image">
    <h1 class="article-title">
      <%= article.title %>
    </h1>
    <p class="article-info">Created At: <%= new Date(article.createdAt).toLocaleDateString() %>
    </p>
    <p class="article-info">Created by: <%= article.author.name %>
    </p>
    <p class="article-info">Gmail: <%= article.author.contact %>
    </p>
    <p class="article-info">Type: <%= article.typeOfArticle %>
    </p>
    <p class="article-info">Company Name: <%= article.companyName %>
    </p>
    <p class="article-description"><%- article.description %></p>
  </div>
</body>

</html>